/* 노멀라이징 */
body, ul , li {
  padding:0;
  margin: 0;
  list-style:none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.flex {
  display:flex;
}
.flex-col {
  flex-direction:column;
}
.flex-grow {
  flex-grow:1;
}
.flex-shrink-0 {
  flex-shrink:0;
}
.flex-1 {
  flex:0 0 1;
}
.align-center{  
align-items:center;
}
.justify-center {
 justify-content:center;
}
.justify-end {
  justify-content: flex-end;
}
.h-full {
height:100%;
}
.w-full {
  width: 100%;
}
.ml-auto {
  margin-left: auto;
}
/* 커스텀 */
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family:NanumBarunGothic;
}

#fullpage > .section > div {
  display:flex;
  align-items:center;
  justify-content:center;
/*   font-size:10vw; */
}

.line {
  position:fixed;
  width:1px;
  height:400px;
  background-color:gray;
  left:40px;
  top:50%;
  transform:translatey(-50%);
  z-index:99;
}

.line-tab {
  position:absolute;
  top:0;
  left:50%;
  transform:translatex(-50%);
  width:3px;
  height:100px;
  background-color:black;
  opacity:0;
  visibility:hidden;
  transition:0.3s;
}

.line-tab.active {
  opacity:1;
  visibility:visible;
}

.line-tab > a {
  position:absolute;
  top:50%;
  left:20px;
  transform:translatey(-50%);
  white-space:nowrap;
  font-weight:bold;
}

.line-tab-2 {
  top:100px;
}

.line-tab-4 {
  top:200px;
}

.line-tab-5 {
  top:300px;
}

/* top-bar */
.top-bar-wrap {
  position:relative;
}
.top-bar {
position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 80px;
  background-color:#C4DDFF;
  z-index:1;
  border-bottom:solid 2px #ddd;
}
.menu-left {
  height: 80px;
}
.menu-right {
  margin-right: 100px;
}
.menu-right > li {
  padding: 10px;
}
.menu-right > li > a {
  padding:5px;
  font-size:1.1rem;
  font-weight:bold;
  color:white;
}
.menu-right > li:hover > a {
  color: #002566;
  border-bottom: solid 2px #002566;
}

/* section-1 */

.section-1-img-wrap {
  width: 75vw;
  height: 38vw;
  position:relative;
}
.section-1-img-wrap > div {
  position:absolute;
  filter:grayscale(100%);
}
.section-1-img-wrap > div:hover {
  filter:grayscale(0);
  cursor:pointer;
}

.section-1-img-wrap > div:first-child > img {
  width: 30vw;
}
.section-1-img-wrap > div:nth-child(2) > img {
  width: 16vw;  
}
.section-1-img-wrap > div:nth-child(3) > img {
  width: 21vw;  
}
.section-1-img-wrap > div:first-child {
  top:2vw;
  left:0;
  z-index:1;
}
.section-1-img-wrap > div:nth-child(2) {
  top:18vw;
  left:20vw;
}
.section-1-img-wrap > div:nth-child(3) {
  top:10vw;
  left:38vw;
}

/* 스크롤 */
.scroll-wrap {
  position: absolute;
  top: 40vw;
  left: 85vw;
}
.scroll-downs {

  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #363636;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #363636;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* section-1-txt */
.section-1-txt-wrap {
  position:absolute;
  top: 10vw;
  left: 73vw;
}
.section-1-txt-wrap > p {
  font-size:2.3vw;
  font-weight:bold;
   font-family: 'PuradakGentleGothicR';

}

/* flower */
.flower {
  position:absolute;
  top:25vw;
  left:2vw;
  width: 250px;
  height: 80px;
  background: #FFE15D;
  border-radius: 50px;
  margin-top: 200px;}
.flower::before {
  content: "";
  display: block;
  position: absolute;
   width: 250px;
  height: 80px;
  background: #FFE15D;
  border-radius: 50px;
  transform: rotate(60deg)
}
.flower::after {
  content: "";
  display: block;
  position: absolute;
   width: 250px;
  height: 80px;
  background: #FFE15D;
  border-radius: 50px;
  transform: rotate(-60deg)}

.flower {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* section-2 */
.section-2-1 > img {
  width: 18vw;
}
.section-2-1-txt {
  margin-left: 50px;
  font-size: 1.1vw;
  margin-right: 100px;
}
.section-2-1 > .popup-button {
  width: 130px;
  height: 60px;
  border-radius: 50px;
  background-color: #6AAEFF;
  margin-right: 5px;
} 
.section-2-1 > .popup-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 60px;
  background: #6AAEFF;
  border-radius: 50px;
  transform: rotate(50deg);
    margin-left: 5px;
  z-index:-1;
}
.popup-button::after {
  content: "";
  display: block;
    position: absolute;
   width: 120px;
  height: 55px;
  background: #6AAEFF;
  border-radius: 50px;
  transform: rotate(-50deg);
  margin-left: 3px;
    z-index:-1;
}
.popup-button {
  animation: up-down 1.5s infinite linear;
}

@keyframes up-down {
  0% {
   margin-top: 20px;
  }
  50% {
   margin-top: 0px;
  }
  100% {
    margin-top: 20px;
  }
}
.popup-button > p {
  color: white;
  font-size: 1.1rem;
  cursor:pointer;
}
.popup-button > p:hover {
  color: #363636;
  font-weight:bold;
}


/* 팝업 */
.more-popup {
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.3);
  position:absolute;
  z-index:300;
  display:none;
}
.in-popup {
  width: 900px;
  height: 600px;
  background-color:white;
}
.btn-close {
  width: 25px;
  height: 25px;
  position:relative;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.in-popup__head {
  border-bottom: 1px solid black;
}
.btn-close::before,
.btn-close::after {
  content:"";
  background-color:black;
  position:absolute;
  top:40%;
  height:20%;
  width:100%;
  transform:rotate(45deg);
}
.btn-close::after {
  transform:rotate(-45deg);
}
.btn-close:hover {
  transform:rotate(3deg);
}
.btn-close-2 {
  border: 1px solid black;
  border-radius: 10px;
  padding:10px;
}
.in-popup__foot {
  border-top:1px solid black;
}


.section-2-2 {
  margin-top:50px;
  width: 50vw;
}
